.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    padding-inline-start: 0px;
}

@media screen and (max-width: 991px) {
    .react-tabs__tab-list {
        display: flex;
        flex-basis: auto;
        max-width: 100%;
        width: 100%;
        padding-inline-start: 0px;
    }
}

@media screen and (max-width: 991px) {
    .react-tabs__tab + .react-tabs__tab {
        margin-left: 25px;
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 991px) {
    .react-tabs__tab + .react-tabs__tab {
        margin-left: 0;
        margin-top: 25px;
    }
}

.react-tabs__tab {
    outline: 0;
    cursor: pointer;
    list-style: none;
}

.react-tabs__tab--selected {
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    outline: none;
}

.react-tabs__tab:focus:after {
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}
